@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }

  a {
    @apply text-inherit;
  }
}

@layer components {
  .container-section {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
